<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgb1904.sys.dao.SysNoticeDao">
 <select id="findPageObjects"
             resultType="com.cgb1904.sys.po.SysNotice">
           select * from sys_notices
           <include refid="queryWhereId"/>
           limit #{startIndex},#{pageSize}
     </select>

 <select id="getRowCount"
             resultType="int">
         select count(*) from sys_notices
         <include refid="queryWhereId"/>
     </select>
     
      <insert id="insertObject"
           parameterType="com.cgb1904.sys.po.SysNotice"
           useGeneratedKeys="true"
           keyProperty="id">
      insert into sys_notices
      (username,content,createdManager)
      values
    (#{username},#{content},#{createdManager})
   </insert>
     
      <delete id="deleteObjects">
       delete from sys_notices
       where id in 
       <foreach collection="ids"
                open="("
                close=")"
                separator=","
                item="id">
               #{id} 
        </foreach>
    </delete>
     
     <!-- <select id="findObjectById"
           parameterType="int"
           resultType="com.cgb1904.sys.po.SysNotice">
           select * 
           from sys_notices   
           where id=#{id}     
   </select>
     
     <update id="updateObject" parameterType="com.cgb1904.sys.po.SysNotice" >
          update sys_managers
          <set>
             <if test="username!=null and username!=''">
               username=#{username},
             </if>
             <if test="email!=null and email!=''">
                  email=#{email},
             </if>
             <if test="mobile!=null and mobile!=''">
                mobile=#{mobile},
             </if>
             modifiedTime=now()
          </set>
          where id=#{id}      
   </update> -->
     
     <sql id="queryWhereId">
       <where>
              <if test="username!=null and username!=''">
                 username like concat("%",#{username},"%")
              </if>
       </where>
     </sql>

</mapper>