<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgb1904.sys.dao.SysPostsDao">

	<select id="findPageObjects"
		resultType="com.cgb1904.sys.po.SysPosts">
		select *
		from sys_posts
		<include refid="queryWhereId" />
		order by id desc
		limit #{startIndex},#{pageSize}
	</select>

	<select id="getRowCount" resultType="int">
		select count(*)
		from sys_posts
		<include refid="queryWhereId" />
	</select>
	<!-- 借助此元素对共性数据进行提取 -->
	<sql id="queryWhereId">
		<where>
			<if test="author_username!=null and author_username!=''">
				author_username like concat("%",#{author_username},"%")
			</if>
		</where>
	</sql>

	<delete id="deleteObjects">
		delete from sys_posts
		where id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</delete>

</mapper>